@{
    ViewData["Title"] = "New User Registration";
}
<h1>@ViewData["Title"]</h1>

<form class="form-group" method="register" asp-action="AddUserToDb">

    <label for="firstName">First Name</label>
    <input type="firstName" name="FirstName" class="form-control" id="firstName" placeholder="Enter first name" required>

    <label for="lastName">First Name</label>
    <input type="lastName" name="LastName" class="form-control" id="lastName" placeholder="Enter last name" required>

    <label for="inputEmail">Email address</label>
    <input type="email" name="Email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else unless they pay us.</small>

    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="Password" id="inputPassword" placeholder="Password" required>

    <input type="submit" />
</form>