@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you are a new user <a asp-action="CreateRegistration">please click here to sign up.</a>.</p>
</div>
