@{
    ViewData["Title"] = "Registration";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


//Scaffold-DbContext 'Data Source=TROYPC;Initial Catalog=CoffeeShopRegistrationDb; Integrated Security=SSPI;' Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models